---
import { getSanityImageURL, formatBlogPostDate } from "../utils/helpers.js";

export interface Props {
  post: any;
}

const { post } = Astro.props;
---

<article class="post-preview__article">
  <a href={`/blog/${post.slug.current}`}>
    {
      post.mainImage && (
        <img
          width="720"
          height="400"
          class="post-main__img"
          loading="lazy"
          src={getSanityImageURL(post.mainImage).url()}
        />
      )
    }
    <h1 class="title">{post.title}</h1>
    <time class="publish-date">{formatBlogPostDate(post.publishedAt)}</time>
    <span class="tag">{post.type}</span>

    <p>{post.excerpt}</p>
  </a>
</article>

<style lang="scss">
  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover > .title {
    text-decoration: underline;
  }

  .post-main__img {
    max-width: 200px;
    height: 300px;
    object-fit: contain;
    margin-bottom: 1rem;
    float: right;
    margin-left: 1rem;

    @media (max-width: 768px) {
      float: none;
      width: 100%;
      height: auto;
    }
  }

  .title,
  .publish-date {
    margin: 0;
  }

  .publish-date {
    font-size: 1.25rem;
    @apply text-gray-600 text-base;
  }

  .title {
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--theme-text);
  }

  .tag {
    @apply inline-block ml-2 text-sm text-gray-50 font-medium bg-gray-800 px-2 py-0.5 rounded-lg uppercase tracking-wide;
  }
</style>
